src/main/mule/pg-rated-api-1.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="pg-rated-api-1-config" api="resource::2c5ae331-f1ac-47db-9b98-fcc3872caac4:pg-rated-api-1:1.0.0:raml:zip:pg-rated-api-1.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="pg-rated-api-1-main">
        <http:listener path="/api/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="pg-rated-api-1-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="pg-rated-api-1-console">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="pg-rated-api-1-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\comments:application\json:pg-rated-api-1-config" doc:id="2752a8bd-05f5-4c2c-bd83-0d9f61577128">
		<set-variable value="#[payload.comment]" doc:name="comment" doc:id="b91084a6-7100-4800-97a4-ba1cafa12fcc" variableName="comment"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="03e3e384-0b2a-4245-84b9-c7c5f00ced37" >
			<route >
				<flow-ref doc:name="IBM Watson NLU" doc:id="c465381e-3895-462c-9f5c-e218c184ba84" name="ibm-watson-nluFlow"/>
			</route>
			<route >
				<flow-ref doc:name="OpenAI" doc:id="79a0c6d1-c223-4d9e-b531-6a5416d07ad9" name="openaiFlow"/>
			</route>
			<route >
				<flow-ref doc:name="Google NL Moderation" doc:id="6cfc8f46-7c09-4d9f-9626-06f13680af2e" name="moderateGoogle"/>
			</route>
			<route >
				<flow-ref doc:name="Cohere" doc:id="aa6f0be6-ffe2-47d2-9eb9-9d2f4fbdf99f" name="cohereFlow"/>
			</route>
			<route >
				<flow-ref doc:name="AWS Comprehend" doc:id="d1963515-eed6-4a91-8ce8-920bd43aa950" name="awscomprehendFlow"/>
			</route>
		</scatter-gather>
		<ee:transform doc:name="composite result" doc:id="fe587048-ac4c-407c-a578-0d223c088222" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var ibmResult = payload[0].payload
var openaiResult = payload[1].payload
var googleResult = payload[2].payload
var cohereResult = payload[3].payload
var awsResult = payload[4].payload

---
{
	(ibm: ibmResult) if (! ibmResult.error?),
	openai: openaiResult,
	(google: googleResult) if (! googleResult.error?),
	(cohere: cohereResult) if (! cohereResult.error?),
	(aws: awsResult) if (! awsResult.error?)
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[uuid()]" doc:name="cosmosId" doc:id="9be253b9-ecfa-4ede-8b75-28e943e6a9d6" variableName="cosmosId"/>
		<async doc:name="Async" doc:id="8bfb584c-33bf-4d83-8e42-6a7a5c1a737d" >
			<flow-ref doc:name="saveResultsToCosmos" doc:id="8a6bdbe0-4f02-4e96-9af1-51301d17a765" name="saveResultsToCosmos" />
		</async>
    </flow>
		
	
</mule>
